
.App {
  width: 100%;
  height: 100%;
}


.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer > div:nth-child(1) {
  font-size: 2.2rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] {
  background-color: #D97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top:1.9rem ;
}

.landingMainContainer > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer > div:nth-child(2) {
  height: 70vh;
  width: auto;
  margin-right: 4rem;
  margin-top: 6rem;
  transform: scale(1.20);


}

/* LANDING PAGE */

.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background-image:linear-gradient(135deg,rgba(2,6,23,0.65),rgba(2,6,23,0.45)),
   url("/background2.jpg") ;
     background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  align-items: center;
  

}



.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

.landingMainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

.textSection h1 {
  font-size: 3rem;
}

.textSection span {
  color: #ff9839;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background: #ff9839;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.imageSection img {
  height: 70vh;
}

.navBar{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-inline: 20px;
     text-align: center; 
}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel  img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}